In [1]:
import pandas as pd
import all_lunage

In [ ]:
'''
공공 데이터 (천문우주정보)월령 정보를 조회하는 서비스에서 데이터 가져온 뒤 저장하기
20090101~ 20190531까지 월령 데이터를 가져온 후 csv 파일로 저장
직접 제작한 all_lunage.py를 사용하여 데이터를 가져옴.
'''

In [4]:
lunage = all_lunage.lunage_function()

count:  0
count:  500
count:  1000
count:  1500
count:  2000
count:  2500
count:  3000
count:  3500
success!!!!

In [20]:
dt_index = pd.date_range(start='20090101', end='20190531')
dt_list = dt_index.strftime("%Y%m%d").tolist()
dt = pd.DataFrame({'date':dt_list}).astype(int)

In [22]:
dt_lunage = pd.concat([dt, lunage], axis=1)

In [23]:
dt_lunage.to_csv('dt_lunage.csv',mode='w')

In [25]:
dt_lunage.head()

       date  lunage
0  20090101     5.0
1  20090102     6.0
2  20090103     7.0
3  20090104     8.0
4  20090105     9.0